@media (max-width: 1023px) {
        /* объекты, которые скрываются в данной версии */
        .header__telephone,
        .header__button,
        .completed-projects__top-nav,
        .deal-steps__wrapping-form,
        .footer {
            display: none;
        }

        .header {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }




        
}